body, html {
    height: 100%;
  }

  .ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.5;
  }
  .navbar-nav a{
    text-align: center;
  
  }
  
  .bg {
    /* The image used */
    background-image: url(./cpbg_1.png);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
  }  
    @media (max-width: 600px) {
      .bg {      
      background: url('./cpbg_1mobile.png') repeat-y;
      height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
      }
    }
.nav-item{
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    font-weight: 600;
}

.hvr-underline-from-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }

  .aus::before{
    background: #DB4437;
  }
  .events::before{
    background: #4285F4;
  }
  .team::before{
    background: #F4B400;
  }
  .cus::before{
    background: #0F9D58;
  }
  .hvr-underline-from-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    bottom: 0;
    
    height: 3px;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-right:hover:before, .hvr-underline-from-right:focus:before, .hvr-underline-from-right:active:before {
    left: 0;

/*
#DB4437 red
#4285F4 blue
#F4B400 yellow
#0F9D58 green
*/}